:root {
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very--dark--blue: hsl(240, 100%, 5%);
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
}

a:hover{
    color: var(--Soft-red);
}
button:hover{
    background-color: var(--Very--dark--blue);
}
.news>h3:hover{
    color: var(--Soft-orange);
}
